<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>https://mars.nasa.gov/</key>
			<dict>
				<key>Allow Arbitrary Loads in Web Content</key>
				<true/>
				<key>Allows Arbitrary Loads</key>
				<true/>
				<key>Allows Arbitrary Loads for Media</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
